/*Styles*/

.banner {
  min-height: 50vh;
  background-image: url(cabin_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.banner-txt {
	color: white;
	padding-top: 20vh;
	font-size: 5em;
}

.img-frontpage {
	width: 20vw;
	height: 20vw;
}
